/*
 THEME NAME: DigiTheme
 AUTHOR: Digilite Web Solutions
 VERSION: 3.0
 */
/*FONTS*/
@font-face {
  font-family: 'josefin-regular';
  src: url('fonts/JosefinSans-Regular.woff2') format('woff2'),
    url('fonts/JosefinSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin-semibold';
  src: url('fonts/JosefinSans-SemiBold.woff2') format('woff2'),
    url('fonts/JosefinSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-light';
  src: url('fonts/Montserrat-Light.woff2') format('woff2'),
    url('fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-medium';
  src: url('fonts/Montserrat-Medium.woff2') format('woff2'),
    url('fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-regular';
  src: url('fonts/Montserrat-Regular.woff2') format('woff2'),
    url('fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-semibold';
  src: url('fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/*DEFAULT CSS*/
* {
  outline: none !important;
  text-decoration: none !important;
}

html {
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
}

a,
a:hover,
a:focus {
  color: #244A57;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.transition {
  transition: .5s;
}

.relative-parent {
  position: relative;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
}

.alpha {
  padding-left: 0;
}

.omega {
  padding-right: 0;
}

.page-404 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 0 auto;
}

.textcenter {
  text-align: center;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  max-width: 100%;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  padding: 6px 0px 5px;
  text-align: left;
}

p,
label {
  font-family: 'montserrat-regular';
  font-size: 16px;
  margin-bottom: 0;
  color: #111111;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: #000;
  font-family: 'montserrat-regular';
  font-size: 16px;
}

a:hover {
  color: #000;
}

h2 {
  font-family: 'josefin-regular';
  font-size: 20px;
}

.h1 {
  font-family: 'josefin-regular';
  font-size: 40px;
}

.h3 {
  font-size: 20px;
  font-family: 'montserrat-medium';
  line-height: 24px;
}

.button_white {
  font-family: 'josefin-semibold';
  font-size: 14px;
  padding: 17px 36px;
  border: 1px solid #111111;
  border-radius: 5px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: fit-content;
  transition: 0.2s;
}

.related-block {
  margin-top: 100px;
}

.woocommerce-breadcrumb {
  color: #767676 !important;
  font-family: 'montserrat-regular';
  font-size: 16px !important;
}

.breadcrumbs-container {
  margin-bottom: 100px;
}

.woocommerce-breadcrumb a {
  text-decoration: underline !important;
}

.dark_button:hover {
  color: #111111 !important;
  background-color: #fff;
}

.dark_button:focus {
  background-color: #ffffff;
}

.frm_style_formidable-style.with_frm_style .frm_submit button {
  border: none !important;
}

.frm_style_formidable-style.with_frm_style .frm_submit button:focus {
  border: none !important;
  background-color: #ffffff;
}

.frm_style_formidable-style.with_frm_style .frm_submit button:hover {
  color: #111111 !important;
  background: #fff !important;
  border: none !important;
  box-shadow: none;
}

.button_white:hover {
  color: #111111 !important;
  background-color: #F0E9DE;
  border: 1px solid #F0E9DE !important;
}

.button_white:focus {
  background-color: #ffffff;
  color: #111111;
  border: 1px solid #F0E9DE !important;
}

.single_add_to_cart_button {
  border: 1px solid #111111 !important;
}

.single-product .breadcrumbs-container {
  margin-bottom: 50px;
}

.single_add_to_cart_button:hover {
  background-color: #ffffff !important;
  color: #111111 !important;
  border: 1px solid #111111 !important;
}

.tinvwl_add_to_wishlist_button:hover {
  color: #111111 !important;
  background-color: #F0E9DE;
  border: 1px solid #F0E9DE !important;
}

.product .button:hover {
  color: #111111 !important;
  background-color: #F0E9DE !important;
}

.button.wc-backward:hover {
  color: #111111 !important;
  background-color: #F0E9DE !important;
}

.tinvwl-to-right .button {
  transition: 0.2s;
}

.tinvwl-to-right .button:hover {
  color: #111111 !important;
  background-color: #F0E9DE !important;
}

.wishlist_item .product-action .button {
  transition: 0.2s;
}

.wishlist_item .product-action .button:hover {
  color: #111111 !important;
  background-color: #F0E9DE !important;
}

.padding-no {
  padding: 0;
}

/*Header*/
header {
  position: relative;
}

.aws-search-result .aws_result_title {
  font-family: 'montserrat-semibold';
  font-size: 16px;
  color: #111111;
}

.aws-search-result .aws_result_sku {
  font-family: 'montserrat-regular';
  font-size: 12px;
  color: #111111;
}

.aws_result_price .amount bdi {
  font-family: 'josefin-semibold';
  color: #111111;
  font-size: 15px;
}

.header-top {
  padding: 15px 0;
}

.header-top .phone-icon {
  height: fit-content;
}

.phone-number {
  align-items: center;
}

.phone-number .phone-link {
  margin-bottom: 5px;
  margin-left: 22px;
}

.header-top .icons {
  align-items: center;
  justify-content: flex-end;
}

.header-top .icons>a {
  margin-right: 35px;
}

.header-top .icons a:last-child {
  margin-right: 0;
}

/* Navigation */
/*.main-menu .menu-item {
	position: relative;
  }
  .main-menu>.menu-item:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #111111;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
  }
  .main-menu .menu-item:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
  }
  .main-menu .current_page_item {
	 border-bottom: 1px solid #111111;
  }*/
.main-menu .current-menu-item a {
  text-decoration: underline !important;
}

.wishlist_products_counter {
  position: relative;
}

.wishlist_products_counter .wishlist_products_counter_number {
  position: absolute;
  right: 0;
  top: -15px;
  font-size: 12px;
  font-weight: 700;
}

.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt:before {
  top: 39%;
  left: 37%;
}

header #logo img {
  max-height: 80px;
}

header .icons div {
  margin-right: 20px;
}

header .icons div.cart-ic {
  margin-right: 0;
}

.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart:before,
.woocommerce ul.products li.product a.tinvwl-button.tinvwl_add_to_wishlist_button.tinvwl-icon-heart:before,
.woocommerce-page ul.products li.product a.tinvwl-button.tinvwl-icon-heart.tinvwl_add_to_wishlist_button:before,
a.wishlist_products_counter.top_wishlist-heart:before,
span.wishlist_products_counter.top_wishlist-heart:before,
a.sidr-class-wishlist_products_counter.sidr-class-top_wishlist-heart:before {
  font-size: 30px;
}

.berocket_single_filter_widget {
  border-bottom: 1px solid #555555 !important;
}

.berocket_single_filter_widget .bapf_sfilter {
  margin-bottom: 0;
  padding: 20px 0;
}

.bapf_sfilter.divi_color_class .bapf_clr_span {
  box-shadow: 0px 0px 3px rgb(0 0 0 / 50%);
}

.berocket_single_filter_widget .divi_color_class {
  padding-bottom: 15px !important;
}

.single-product .faq__item .faq__content {
  padding-left: 15px;
}

.main-menu .menu-item a {
  transition: 0.2s;
}

.main-menu .menu-item:hover a {
  color: #000000b8;
}

/* Mobile Header */
#burger-icon {
  width: 30px;
  height: 19px;
  position: relative;
  float: right;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 2;
  display: none;
}

#burger-icon span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #000;
  opacity: 1;
  transition: .25s ease-in-out;
}

#burger-icon span:nth-child(2) {
  top: 18px;
}

#burger-icon span:nth-child(1) {
  top: 9px;
}

.search-mobile {
  display: none;
}

.visible {
  visibility: visible !important;
  display: block !important;
}

.mobile-menu {
  height: 100%;
  position: absolute;
  background-color: #fff;
  z-index: 12;
  width: 100%;
  top: 100px;
  visibility: hidden;
  transition: 0.2s;
  display: none;
}

.mobile-menu .main-menu {
  flex-direction: column;
}

.mobile-menu .main-menu>li ul.sub-menu {
  position: unset;
}

.mobile-menu .main-menu li {
  margin-left: 0;
}

.mobile-menu .menu-item-has-children>a {
  background-image: url(img/arrow_down.svg);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}

.mobile-menu .menu-item-has-children:hover {
  background-image: none;
}

.mobile-menu .menu-item-has-children>a:hover {
  background-image: url(img/arrow_up.svg);
}

.mobile-menu .menu-item-has-children {
  background-image: none;
}

.mobile-menu .main-menu>li {
  border-bottom: 1px solid #111111;
}

.mobile-menu .main-menu>li ul.sub-menu {
  border: none;
  flex-wrap: wrap;
}

#burger-icon.open span:first-child {
  left: 0px;
  top: 9px;
}

#burger-icon.open span:first-child {
  transform: rotate(45deg);
}

#burger-icon.open span:nth-child(2) {
  display: none;
}

#burger-icon.open span:last-child {
  transform: rotate(-45deg);
  top: 9px;
}

.navigation {
  position: relative;
  border-bottom: 1px solid #555555;
  border-top: 1px solid #555555;
}

#menu-main-menu>li {
  padding: 23px 20px;
}

.nav-menu {
  justify-content: center;
  align-items: center;
}

.main-menu {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}

.main-menu li a {
  font-family: 'josefin-regular';
  padding: 23px 20px;
  display: block;
}

.main-menu li {
  list-style-type: none;
  margin-left: 37px;
}

.main-menu li:first-child {
  margin-left: 0;
}

.search-icon-box {
  border-left: 2px solid #000;
  margin-left: 40px;
}

.search-page-title {
  margin-bottom: 30px;
}

.search-icon {
  cursor: pointer;
  margin-left: 23px;
}

.search-box {
  width: 100%;
  position: absolute;
  padding: 57px 0;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: .2s;
  top: 166px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 300;
  border-top: 1px solid #111111;
}

.search-submit {
  background-color: #0000;
  border: none;
}

.aws-container .aws-search-field {
  width: 100%;
  max-width: 100%;
  color: #313131;
  padding: 6px;
  line-height: 30px;
  display: block;
  font-size: 20px;
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  height: 100%;
  margin: 0 !important;
  border-bottom: 1px solid #111111;
  outline: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: 'josefin-regular';
}

.close {
  cursor: pointer;
}

.opened_brands {
  opacity: 1 !important;
  visibility: visible !important;
}

.opened {
  opacity: 1;
  visibility: visible;
  display: block;
}

.logo-carousel {
  border-bottom: 1px solid #555555;
}

.partners .partner-l {
  height: 80px;
}

.partners .owl-prev {
  top: 41%;
  left: 20px;
}

.partners .owl-next {
  top: 41%;
  right: 5px;
}

.tax-product_cat .child-of-parent .owl-prev {
  left: -12px;
  top: 23%;
}

.tax-product_cat .child-of-parent .owl-next {
  right: -25px;
  top: 23%;
}

.brand_item_description {
  margin: 40px 0 0 0;
  padding: 0 15px;
}

.shop-by .child-collection.child-of-parent .partner-l img {
  width: 150px !important;
}

.child-of-parent.brands-block .owl-prev {
  top: 15%;
}

.child-of-parent.brands-block .owl-next {
  top: 15%;
}

.brand_item_description {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

/* Footer */
.footer-menu .menu-item a {
  transition: 0.2s;
}

.footer-menu .menu-item a:hover {
  color: #a0a0a0;
}

footer {
  background-color: #111111;
}

.footer-top {
  padding-top: 50px;
  padding-bottom: 50px;
}

footer .footer-top .footer-logo img {
  min-width: 175px;
  height: auto;
}

.footer-menu {
  padding-left: 0;
}

.footer-menu .menu-item {
  margin-top: 10px;
}

.footer-menu .menu-item:first-child {
  margin-top: 0;
}

.footer-menu-4 .menu-item {
  list-style-type: none;
}

.footer-menu-4 .menu-item a {
  color: #fff;
}

.footer-menu .menu-item {
  list-style-type: none;
}

.footer-menu .menu-item a {
  color: #fff
}

.footer-social a {
  color: #fff;
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 25px;
  display: block;
  text-align: center;
  padding-top: 14px;
  margin-right: 8px;
}

.footer-social a:last-child {
  margin-right: 0;
}

#menu-footer-bottom .menu-item {
  margin-right: 58px;
}

#menu-footer-bottom .menu-item:last-child {
  margin-right: 0;
}

.footer-bottom {
  border-top: 1px solid #f2f2f2;
  padding-top: 36px;
  padding-bottom: 20px;
}

.copyright {
  color: #F2F2F2;
}

/* Hero */
.hero-image {
  width: 100%;
}

.partners {
  padding: 23px 0;
}

.owl-carousel .owl-item img.partner-logo {
  height: 70px;
  width: 170px;
}

.owl-item {
  display: flex;
  justify-content: center;
}

.owl-prev {
  width: 15px;
  height: 55px;
  position: absolute;
  top: 35%;
  margin-left: -20px;
}

.owl-next {
  width: 15px;
  height: 55px;
  position: absolute;
  top: 35%;
  right: -25px;
}

.tax-brand .child-of-parent-brand.not-slide .item {
  padding: 5px;
  max-width: 33.33%;
}

.tax-brand .hero>img {
  max-height: 26vw;
  object-fit: cover;
}

/* Shop By */
.shop-by .owl-stage {
  display: flex;
}

.shop-by .owl-stage .owl-item {
  display: flex;
}

.shop-by .owl-stage .owl-item .prod-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shop-by .mobile-shop-by-button {
  display: none;
}

.cat_name {
  font-family: 'josefin-regular';
  font-size: 20px;
  padding-top: 20px;
  display: block;
}

.shop-by-button {
  margin-top: 30px;
}

main > section {
  margin: 100px 0;
}

main > section:first-child {
  margin-top: 0;
}

main > section:last-child,
main > section.map {
  margin-bottom: 0;
}

/* Image with text right */
.tablet-title {
  display: none;
}

.imgtr-left img {
  width: 100%;
}

.imgtr-col {
  width: 50%;
}

.imgtr-right img {
  width: 100%;
}

.image-text-right .imgtr-image {
  width: 100%;
}

.image-text-right .imgtr-left {
  padding-right: 0;
}

.image-text-right .imgtr-right {
  padding-left: 0;
  background-color: #F0E9DE;
  padding: 27px 40px;
}

.imgtr-right p {
  font-family: 'montserrat-medium';
}

.imgtr-left p {
  font-family: 'montserrat-medium';
}

.more-button {
  font-size: 16px;
  font-family: 'montserrat-medium';
  margin-top: 15px;
  display: block;
  text-decoration: underline !important;
}

.image-text-left .imgtr-left {
  background-color: #F2F2F2;
  padding: 50px 70px 50px 70px;
}

.image-text-left .imgtr-right {
  text-align: right;
  padding: 50px 0px 50px 20px;
  background: linear-gradient(to right,
      #f2f2f2 0%,
      #f2f2f2 40%,
      #fff 40%,
      #fff 100%);
}

.text-small-image .imgtr-right p {
  font-family: 'montserrat-regular';
  line-height: 32px;
  margin-top: 15px;
}

/* CTA */
.cta-mobile-info {
  background-color: #4D4E53;
  padding: 32px 0;
  display: none;
}

.cta-mb {
  text-align: center;
  color: #fff !important;
}

.cta-mb a,
.cta-mb p {
  color: #fff;
}

.cta-mb .button_white {
  margin: 0 auto;
  border-color: #fff;
  margin-top: 12px;
}

.cta {
  padding: 60px 0 80px 0;
}

.cta .cta-title {
  color: #fff;
}

.cta p {
  color: #fff;
}

.cta .button_white {
  border: 1px solid #fff;
  color: #fff;
  margin-top: 35px;
}

/* Product Info */
.product-info .info-block {
  border-radius: 5px;
}

.product-info .info-block {
  margin: 0 15px;
}

.product-info {
  padding: 100px 0;
}

.product-info .pr-info {
  margin: 0 auto;
}

.info-block {
  padding: 50px 0;
}

.subtitle {
  font-family: 'montserrat-medium';
  font-size: 20px;
  line-height: 24px;
}

.info-block .description {
  line-height: 32px;
  padding-top: 25px;
}

.dark_button {
  max-width: 160px;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #111111;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'josefin-semibold';
  padding: 17px 37px;
  margin: 0 auto;
  margin-top: 71px;
  transition: 0.2s;
}

.dark_button:hover {
  color: #fff;
}

/* Contact Form */
.contact-form {
  background-color: #F2F2F2;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-top: 100px;
}

.contact-form .description {
  line-height: 30px;
}

.contact-form input[type=text] {
  min-height: 50px;
  border: none;
}

.contact-form input[type=email] {
  min-height: 50px;
  border: none;
}

.contact-form .frm_submit {
  text-align: right;
}

.contact-form textarea {
  border: none;
}

.frm_style_formidable-style.with_frm_style .frm_submit button:focus {
  color: #111111 !important;
  background: #fff !important;
  border: none !important;
  box-shadow: none;
}

.frm_style_formidable-style.with_frm_style .frm_submit button {
  font-family: 'josefin-semibold' !important;
  text-transform: uppercase !important;
}

.form-title {
  font-size: 20px;
  line-height: 32px;
  font-family: 'josefin-regular';
  padding-bottom: 15px;
}

/* Text info block */
.text-info-block .subtitle {
  padding: 25px 0;
}

/* Services */
.services {
  padding: 37px 0;
  background-color: #f2f2f2;
}

.services .description {
  font-family: 'montserrat-medium';
}

.service_item {
  border: 0.5px solid #555555;
  padding: 38px 60px 50px 60px;
  max-width: 340px;
  width: 100%;
  margin-top: 18px;
}

.service_item:first-child {
  margin-top: 0;
}

.service_item:nth-child(2) {
  margin-top: 0;
}

.service_item img {
  display: block;
  margin: 0 auto;
}

.service_item .service_name {
  font-family: 'montserrat-medium';
  font-size: 20px;
  line-height: 24px;
}

/* Login Sign Up */
.woocommerce-account .woocommerce {
  /*padding: 100px 0;*/
}

.acc-title {
  text-align: center;
  padding-bottom: 50px;
}

.woocommerce form.login,
.woocommerce form.register {
  border: none;
  padding: 0;
}

.wc-form-title {
  border-bottom: 0.5px solid #555555;
  padding: 15px 0;
}

.woocommerce input {
  padding: 15px;
}

.woocommerce .password-input {
  width: 100%;
}

.woocommerce form .show-password-input,
.woocommerce-page form .show-password-input {
  top: 1.3em;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
  width: 100%;
}

.woocommerce button.button {
  display: block;
  width: 100%;
  background-color: #111111;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'josefin-semibold';
  padding: 17px 0;
  margin-top: 30px;
}

.woocommerce button.button:hover {
  background-color: #000;
  color: #fff;
}

.lost_password {
  margin-top: 20px;
}

/* Lost password */
.lost_reset_password .woocommerce-form-row {
  width: 100% !important;
  margin-top: 30px !important;
}

/* News and Events */
.ne-post-item {
  margin-top: 50px;
  border-bottom: 0.5px solid #555555;
  padding-bottom: 50px;
}

.ne-post-item:last-child {
  border: none;
}

.post-title {
  font-size: 40px;
  font-family: 'montserrat-regular';
  color: #111111;
  line-height: 49px;
  text-align: center;
}

.ne-post-item p {
  width: 80%;
  margin: 0 auto;
  line-height: 32px;
  padding: 25px 0;
}

.ne-title {
  margin-top: 100px;
}

/* Accordion */
.accordion {
  padding-bottom: 50px;
}

.b-faq {
  margin: 5px auto;
  width: 70%;
}

.acc_first_image {
  width: 100%;
  margin-bottom: 7px;
  margin-top: 30px;
}

.b-faq .faq__title {
  text-transform: uppercase;
  position: relative;
  display: block;
  padding: 13px 60px 15px 13px;
  margin-bottom: 2px;
  color: #111111;
  text-decoration: none;
  border-bottom: 1px solid #111111;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-radius: 0;
  cursor: pointer;
}

.b-faq .faq__title .faq__spoiler {
  position: absolute;
  right: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
  margin-right: 5px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.b-faq .faq__rotate {
  transform: rotate(180deg);
}

.b-faq .faq__content {
  padding: 30px 0;
  margin-bottom: 2px;
  font-size: 14px;
  display: none;
}

.b-faq .faq__symbol {
  font-weight: 700;
}

.acc-r-item {
  width: 30%;
  margin-top: 30px;
}

.acc-r-item .acc_r_image {
  width: 100%;
}

.acc-r-item .acc-r-title {
  font-family: 'montserrat-medium';
  font-size: 16px;
  color: #111111;
  line-height: 20px;
  padding-top: 15px;
}

/* Stages */
.stages-blocks {
  width: 80%;
  margin: 0 auto;
}

.stages-blocks .stages_image {
  width: 125px;
  display: block;
  margin: 0 auto;
}

.stages-blocks .stages-icon {
  padding-top: 15px;
}

.stages-line {
  border-top: 0.5px solid #555555;
  position: absolute;
  top: 0;
  width: 55%;
  margin-left: 50px;
  top: 251px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.stage-block-title {
  margin-bottom: 50px;
}

.stages-item-title {
  font-family: 'montserrat-medium';
  font-size: 16px;
  color: #111111;
  line-height: 20px;
  margin: 20px 0;
}

/* Woocommerce Dashboard */
.woocommerce-MyAccount-navigation ul {
  padding-left: 0;
}

.woocommerce-MyAccount-navigation ul li {
  list-style-type: none;
}

.dashboard-menu-item {
  border-bottom: 0.5px solid #555555;
  padding: 15px 9px 9px 9px !important;
}

.dashboard-menu-item:last-child {
  border: none !important;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
  margin-top: 0 !important;
}

.dashboard-menu-item a {
  font-family: 'montserrat-medium';
  font-size: 20px;
  line-height: 24px;
  width: 100%;
}

.dashboard-menu-item.is-active {
  background-color: #F2F2F2;
}

.dashboard-menu-item.is-active svg {
  transform: rotate(270deg);
}

.woocommerce-Address {
  margin-top: 30px;
}

.woocommerce-Address-title .edit.dark_button {
  margin-top: 0;
  width: auto;
}

.woocommerce-address-fields label {
  width: 100%;
}

.woocommerce-address-fields .woocommerce-input-wrapper {
  width: 100%;
}

.woocommerce-MyAccount-content input {
  margin-bottom: 10px !important;
}

.woocommerce-address-fields .select2-container .select2-selection--single {
  height: 56px !important;
  border-radius: 0 !important;
  border: 1px solid #000 !important;
}

.variations .tawcvs-swatches .swatch-item-wrapper .swatch.disabled {
  border: 1px solid #00000040;
}

.variations .tawcvs-swatches .swatch-item-wrapper .swatch.disabled .text {
  color: #00000040;
}

.woocommerce-address-fields .select2-selection {
  display: flex;
  align-items: center;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: #000000 !important;
}

.select2-dropdown--below {
  top: -1.7rem;
}

.select2-dropdown--above {
  top: -2rem;
}

.woocommerce-message .woocommerce-Button.button {
  background-color: #111111 !important;
  color: #fff !important;
  border-radius: 5px;
  padding-top: 12px;
}

.woocommerce-info::before {
  color: #000 !important;
}

.woocommerce-info {
  border-top-color: #000 !important;
  background-color: #fff !important;
}

.page-title {
  margin-bottom: 80px;
}

/* Shop page */
.berocket_single_filter_widget_350 .bapf_sfilter:first-child {
  padding-top: 0;
}

.post-type-archive .aioseo-breadcrumbs {
  padding-left: 15px;
}

.post-type-archive .breadcrumbs-container {
  background-color: #F2F2F2;
  padding: 25px 0;
}

.single-product .breadcrumbs-container {
  background-color: #F2F2F2;
  padding: 25px 0;
}

.single-product .breadcrumbs-container .item-cat {
  text-transform: capitalize !important;
}

.single-product .breadcrumbs-container .item-current strong {
  font-family: 'montserrat-regular' !important;
  font-size: 16px;
  text-transform: capitalize !important;
  font-weight: 400;
}

.single-product .breadcrumbs-container .item-cat a {
  text-decoration: underline !important;
}

.aioseo-breadcrumbs .aioseo-breadcrumb:first-child {
  text-transform: uppercase;
}

ul.products {
  margin-top: 65px !important;
}

.bapf_colaps_togl .bapf_hascolarr {
  margin: 5px 0;
  font-size: 20px;
  color: #111111;
  font-family: 'josefin-regular';
  font-weight: normal !important;
}

.bapf_body ul {
  padding-left: 0;
}

.bapf_ckbox_square input[type=checkbox] {
  padding: 0px !important;
}

.filters-container .filter-content .filter-items .filter-item label a {
  color: #111111;
  font-size: 20px;
  font-family: 'josefin-regular';
}

.pr-filter-button {
  width: 100%;
  background-color: #111111;
  color: #fff;
  border: none;
  padding: 14px 0;
  text-align: left;
  padding-left: 12px;
  background-image: url(img/arrow_but_down.svg);
  background-repeat: no-repeat;
  background-position: center right 12px;
  margin-bottom: 12px;
  display: none;
}

.yith-wcan-filters .yith-wcan-filter {
  border-bottom: 1px solid #111;
  padding-bottom: 15px;
}

.products li.product {
  text-align: center;
}

.product-title {
  font-family: 'montserrat-semibold';
  font-size: 16px;
}

.pr-brand {
  font-family: 'montserrat-regular';
  font-size: 16px;
}

.products li.product .woocommerce-LoopProduct-link {
  display: flex;
  flex-direction: column;
}

.products li.product .woocommerce-LoopProduct-link {
  display: flex;
  flex-direction: column;
}

.products li.product .woocommerce-LoopProduct-link .price {
  order: 3;
}

.products li.product .woocommerce-LoopProduct-link .product-title {
  order: 1;
  text-transform: uppercase;
}

.products li.product .woocommerce-LoopProduct-link .pr-brand {
  order: 2;
}

.products li.product .woocommerce-LoopProduct-link .price bdi {
  font-family: 'josefin-semibold';
  color: #111111;
  font-size: 15px;
}

.add_to_cart_button {
  background-color: #111111 !important;
  color: #fff !important;
  font-family: 'josefin-semibold' !important;
  width: 100%;
  text-transform: uppercase;
  transition: .2s;
  opacity: 0;
}

.products .product:hover .add_to_cart_button {
  opacity: 1;
}

.shop-products {
  margin-top: 60px;
}

.orderby {
  border-bottom: 1px solid #000;
  border-top: none;
  border-left: 0;
  border-right: 0;
  padding-bottom: 5px;
}

.orderby option {
  font-family: 'josefin-semibold';
  font-size: 14px;
}

/* Single Product */
#frm_form_4_container input {
  padding: 10px !important;
}

#frm_form_4_container .frm_button_submit {
  transition: 0.2s;
}

#frm_form_4_container .frm_button_submit:hover {
  background-color: #f2f2f2 !important;
}

#frm_form_4_container textarea {
  padding: 10px !important;
}

li.product {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.variations .tawcvs-swatches {
  display: flex;
}

.variations .tawcvs-swatches .swatch-item-wrapper {
  cursor: pointer;
  margin-left: 15px;
}

.variations .tawcvs-swatches .swatch-item-wrapper .swatch {
  padding: 0px 15px;
  border: 1px solid #111111;
}

.variations .tawcvs-swatches .swatch-item-wrapper .swatch.selected {
  padding: 0px 15px;
  border: 1px solid #111111;
  color: #fff;
  background-color: #111111;
}

.variations .tawcvs-swatches .swatch-item-wrapper:first-child {
  margin-left: 0px !important;
}

.variations .variation-selector {
  display: none;
}

.summary .pr-brand {
  font-size: 20px;
  font-family: 'montserrat-semibold';
}

.summary .pr-collcetion {
  font-size: 20px;
  font-family: 'montserrat-light';
  margin-top: 30px;
}

.summary .pr-title {
  font-size: 40px;
  font-family: 'montserrat-medium';
  margin-top: 15px;
}

.summary .sku_wrapper {
  font-family: 'montserrat-light';
  font-size: 16px;
  margin-top: 15px;
}

.summary .amount bdi {
  font-size: 40px;
  font-family: 'josefin-semibold';
  color: #111111;
}

.summary .price {
  margin-top: 30px;
  margin-bottom: 30px;
}

.summary table.variations {
  border-top: 1px solid #111111 !important;
  margin-top: 30px;
}

.summary table.variations tbody tr {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.summary .variations label {
  font-family: 'montserrat-medium';
  font-size: 20px;
}

.single-product .content-area {
  margin-top: 50px;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
  width: 100%;
}

.woocommerce div.product p.price {
  font-size: 40px;
  color: #111111 !important;
  margin-bottom: 10px;
}

.quantity {
  width: 100%;
  vertical-align: middle;
  align-items: center;
  border-top: 1px solid #111111;
  margin-top: 30px;
  padding-top: 30px;
}

.quantity input.qty {
  border: none;
}

.quantity-label {
  font-family: 'montserrat-medium';
  font-size: 20px;
  color: #111111;
}

.woocommerce .quantity .qty {
  font-family: 'montserrat-medium';
  font-size: 20px;
  color: #111111;
}

.single_add_to_cart_button {
  background-color: #111111 !important;
}

/* If we need a variation description remove this style */
.single_variation_wrap .woocommerce-variation {
  display: none !important;
}

.reset_variations {
  display: none !important;
}

.single-product .b-faq {
  width: 100%;
  clear: both;
}

.single-product .b-faq .faq__text {
  text-transform: capitalize;
}

.woocommerce div.product form.cart .button {
  padding: 14px;
}

.tinv-wraper.tinv-wishlist.tinvwl-above_thumb-add-to-cart {
  top: 0px !important;
  left: unset !important;
  right: 0;
}

.woocommerce-account .tinv-wishlist .woocommerce-error {
  padding: 16px 20px 20px 50px !important;
  border-top-color: #111111 !important;
}

.tinv-wishlist .woocommerce-error::before {
  color: #111111 !important;
}

.woocommerce ul.products li.product a img {
  padding: 5px;
  margin-bottom: 20px;
}

.woocommerce-account .user-content h3 {
  margin-top: 0 !important;
}

.single .tinvwl_add_to_wishlist_button {
  border: 1px solid #111111;
  width: 100%;
  text-align: center;
  padding: 12px;
  font-family: 'josefin-semibold';
  font-size: 16px;
  text-transform: uppercase;
}

.related-block a.tinvwl_add_to_wishlist_button {
  border: none !important;
}

/* Wishlist */
.tinv-wishlist {
  position: relative;
}

.single-product .tinv-wishlist {
  position: unset;
}

.tinvwl-to-right {
  display: flex;
}

.wishlist_item .product-action .button {
  background-color: #111111 !important;
  font-size: 11px;
  margin-top: 0;
}

.tinv-wishlist .social-buttons {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 0.5em;
}

.tinv-header {
  text-align: center;
}

.tinv-header h2 {
  font-size: 40px;
  font-family: 'josefin-regular';
  color: #111111;
}

.tinv-header {
  margin: 20px 0 50px 0;
}

/* Contact us */
.contact-us {
  margin: 100px 0;
}

.address,
.phone,
.email {
  align-items: center;
  margin-top: 30px;
}

.work-day {
  font-family: 'montserrat-medium';
  font-size: 16px;
  text-align: left;
  padding-left: 0;
}

.work-hours {
  font-family: 'montserrat-light';
  font-size: 16px;
}

.work-hours-block {
  margin-top: 15px;
}

.contact-info-main {
  margin-top: 70px;
}

.contact-desc {
  font-family: 'montserrat-medium';
  font-size: 16px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.map iframe {
  width: 100%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.page-id-16 .contact-form {
  margin-top: -4px;
}

.woocommerce-message {
  border-top-color: #ffffff;
  background-color: #ffffff;
}

.button.wc-backward {
  background-color: #111111 !important;
  color: #fff !important;
  border-radius: 0 !important;
  margin: 50px 0 !important;
  font-family: 'montserrat-medium' !important;
  text-transform: uppercase !important;
}

/* Brands */
.brand-title {
  font-size: 20px;
  font-family: 'josefin-regular';
  color: #111111;
  padding-top: 20px;
}

a.brand-title {
  display: block;
}

.child-of-parent .owl-prev,
.show-categories .owl-prev {
  width: 40px;
  height: 40px !important;
  left: 20px;
  top: 33%;
  background-color: #ffffff9e;
}

.child-of-parent .owl-next,
.show-categories .owl-next {
  width: 40px;
  height: 40px !important;
  right: 0;
  top: 33%;
  background-color: #ffffff9e;
}

.child-of-parent .owl-prev svg,
.show-categories .owl-prev svg {
  margin-left: 11px;
  margin-top: 7px;
}

.child-of-parent .owl-next svg,
.show-categories .owl-next svg {
  margin-left: 11px;
  margin-top: 7px;
}

.brands-container .brands-block {
  margin-top: 100px;
}

.brands-container {
  margin-bottom: 100px;
}

.child-of-parent img {
  width: 199px !important;
}

.child-of-parent-brand {
  display: flex;
}

.hero>img {
  width: 100%;
}

.brand-footer {
  margin: 100px 0;
}

.shop-by .child-collection.child-of-parent img {
  object-fit: contain;
}

.child-of-parent.child-collection {
  margin-top: 20px;
}

#breadcrumbs {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}

#breadcrumbs .item-home a {
  text-transform: capitalize;
  text-decoration: underline !important;
}

#breadcrumbs .bread-current {
  text-transform: capitalize;
  padding-top: 2px;
}

#breadcrumbs li {
  list-style-type: none;
  padding-left: 2px;
  padding-right: 2px;
  text-transform: uppercase;
}

.cart-contents {
  position: absolute;
  top: -10px;
  left: 14px;
  color: #111111;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  border-radius: 30px;
  font-family: 'josefin-semibold';
}

.cart-ic {
  position: relative;
}

.shop-by .image-text-left .h1 {
  margin-bottom: 20px;
}

.shop-by .image-text-left p {
  margin-bottom: 20px;
  line-height: 24px;
}

.shop-by .image-text-left a {
  margin-top: 22px;
}

.shop-by ul.products.child-of-parent .owl-next {
  right: -14px;
}

.shop-by ul.products.child-of-parent .owl-prev {
  left: 49px;
}

.shop-by ul.products {
  margin-top: 0 !important;
}

#frm_form_4_container {
  margin-top: 50px;
}

.shop-by ul.products.child-of-parent img {
  width: auto !important;
}

.shop-by .add_to_cart_inline {
  border: none !important;
  padding: 0 !important;
  margin-top: 20px;
}

.shop-by .add_to_cart_inline .add_to_cart_button {
  width: 100%;
  text-align: center;
}

.shop-by .prod-item .product-title {
  margin-top: 20px;
}

.shop-by .prod-item .sh_thumb {
  display: flex;
  justify-content: center;
}

.shop-by .prod-item .pa-brand {
  margin-top: 20px;
}

.shop-by .prod-item .price {
  margin-top: 20px;
}

.shop-by .prod-item:hover .add_to_cart_button {
  opacity: 1;
}

.shop-by .prod-item:hover .add_to_cart_button {
  opacity: 1;
}

.shop-by .prod-item .amount {
  display: block !important;
}

.home .child-subategory.child-of-parent img {
  width: 100% !important;
}

.shop-by .child-of-parent .item {
  width: 100%;
}

#load-more-brands {
  margin: 0 auto;
  margin-bottom: 100px;
  cursor: pointer;
}

.brand-name {
  text-transform: capitalize;
}

.tax-brand ul.products li.product {
  width: 30%;
}

/* Cart */
.prodcut-metas {
  display: block;
  margin-top: 15px;
}

.woocommerce-cart-form .variation dt {
  font-size: 16px;
  font-family: 'montserrat-regular';
  font-weight: normal;
}

.woocommerce-cart-form .variation {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-top: 15px;
}

.woocommerce-cart-form .product-name .remove {
  display: block !important;
  font-size: 16px !important;
  font-family: 'montserrat-regular' !important;
  font-weight: normal !important;
  text-decoration: underline !important;
  width: auto !important;
  color: #111111 !important;
  text-align: left;
  margin-top: 15px;
}

.woocommerce-cart-form .product-name .remove:hover {
  display: block !important;
  font-size: 16px !important;
  font-family: 'montserrat-regular' !important;
  font-weight: normal !important;
  text-decoration: underline !important;
  width: auto !important;
  color: #111111 !important;
  background-color: #0000;
}

.woocommerce-cart-form .woocommerce-Price-amount {
  font-size: 20px;
  font-family: 'josefin-semibold';
  margin-top: 15px;
  display: block;
}

.woocommerce-cart-form .quantity {
  margin-top: 0;
  padding: 0;
  border: none;
}

.woocommerce-cart-form .quantity .quantity-label {
  display: none !important;
}

.woocommerce table.shop_table {
  border: none !important;
}

.woocommerce-cart-form__cart-item {
  padding: 50px 0;
}

.woocommerce-cart-form .product-name {
  padding: 45px 0 !important;
}

.woocommerce-cart table.cart img {
  width: 100px !important;
}

.woocommerce-cart-form .product-thumbnail {
  text-align: center;
}

.woocommerce-cart-form .shop_table th {
  font-size: 20px;
  font-family: 'montserrat-medium';
}

.woocommerce-cart-form .actions .button {
  width: 300px !important;
  max-width: 100% !important;
  margin-top: 0 !important;
  transition: 0.2s;
}

.woocommerce-cart-form .actions .button:hover {
  background: #F0E9DE !important;
  color: #111111 !important;
}

.woocommerce-cart-form .actions .button:disabled {
  background-color: #f2f2f2;
  opacity: 1 !important;
  color: #111111 !important;
  width: 300px !important;
  max-width: 100% !important;
  margin-top: 0 !important;
  padding: 17px 0 !important;
}

.woocommerce-cart-form .coupon #coupon_code {
  max-width: 500px;
  width: 100%;
  height: 50px;
}

.woocommerce-cart-form .coupon {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.cart_totals th {
  font-size: 20px !important;
  font-family: 'montserrat-medium' !important;
  font-weight: normal !important;
  padding-left: 0 !important;
}

.cart_totals h2 {
  display: none !important;
}

.cart_totals bdi {
  font-family: 'josefin-semibold';
  font-size: 20px;
}

.cart_totals td {
  text-align: right;
}

.checkout-button {
  background-color: #111111 !important;
  font-family: 'josefin-semibold' !important;
  font-size: 16px !important;
  text-transform: uppercase !important;
  transition: 0.2 !important;
}

.checkout-button:hover {
  background: #F0E9DE !important;
  color: #111111 !important;
}

.cart-title {
  margin: 50px 0;
}

/* Checkout */
.checkout .form-row {
  width: 100% !important;
}

.checkout .form-row label {
  width: 100% !important;
}

.checkout .form-row .woocommerce-input-wrapper {
  width: 100% !important;
}

.checkout .select2-container .select2-selection--single {
  height: 56px !important;
  border-radius: 0 !important;
  border: 1px solid #000 !important;
}

.checkout .select2-selection {
  display: flex;
  align-items: center;
}

.checkout .select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: #000000 !important;
}

.checkout .select2-dropdown--below {
  top: -1.7rem;
}

.checkout .select2-dropdown--above {
  top: -2rem;
}

.checkout .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 15px;
}

.checkout .cart_item {
  font-size: 16px;
  font-family: 'montserrat-regular';
}

.checkout .variation {
  display: flex;
  align-items: center;
}

.checkout .product-total {
  font-size: 20px;
  font-family: 'josefin-semibold' !important;
}

.checkout tfoot th,
.checkout tfoot td {
  font-size: 20px;
  font-family: 'josefin-semibold' !important;
}

.checkout #payment {
  background: #F3F4F8 !important;
}

.checkout #payment .wc_payment_methods {
  background: #F3F4F8 !important;
  border: none !important;
}

.woocommerce-notice {
  font-size: 16px;
  font-family: 'montserrat-regular';
  color: #111111;
}

.woocommerce-privacy-policy-text {
  font-size: 16px;
  font-family: 'montserrat-regular';
  color: #111111;
}

#place_order {
  background-color: #111111 !important;
  font-family: 'josefin-semibold' !important;
  font-size: 16px !important;
  text-transform: uppercase !important;
  transition: 0.2 !important;
}

.cart-ic .cart-icon {
  padding-bottom: 30px !important;
}

#place_order:hover {
  background: #F0E9DE !important;
  color: #111111 !important;
}

.woocommerce-billing-fields {
  padding-left: 3px;
  font-family: 'montserrat-medium';
  font-size: 20px;
}

.checkout h6 {
  padding-left: 3px;
  font-family: 'montserrat-medium';
  font-size: 20px;
}

.checkout h6#order_review_heading {
  padding-left: 15px;
}

.checkout-title {
  margin: 100px 0;
}

.woocommerce-checkout .woocommerce {
  margin-bottom: 100px;
}

input[type=checkbox] {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 27px;
}

input[type=checkbox]:after {
  content: " ";
  background-color: #000;
  display: inline-block;
  visibility: visible;
}

input[type=checkbox]:checked:after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
}

.divi_color_class {
  margin-bottom: 0 !important;
}

.divi_color_class h3 {
  border: none !important;
  margin-bottom: 0 !important;
}

.bapf_sfilter .bapf_ochild {
  font-size: 12px;
}

.bapf_sfilter ul li {
  margin: 10px 0 10px 0 !important;
}

.bapf_sfilter .bapf_cchild {
  font-size: 12px;
}

.button.product_type_simple {
  background-color: #111111 !important;
  color: #fff !important;
  font-family: 'josefin-semibold' !important;
  width: 100%;
  text-transform: uppercase;
  transition: .2s;
  opacity: 0;
}

.button.product_type_simple:hover {
  color: #111111 !important;
  background-color: #F0E9DE !important;
}

.product:hover .button.product_type_simple {
  opacity: 1;
}

/* Mini cart */
.item-img img {
  width: 125px !important;
  height: auto;
}

.prodcut-metas {
  display: block;
  margin-top: 15px;
}

.woocommerce-mini-cart .variation dt {
  font-size: 16px;
  font-family: 'montserrat-regular';
  font-weight: normal;
}

.woocommerce-mini-cart .variation {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-top: 15px;
}

.mini_cart_item {
  list-style-type: none;
}

.woocommerce-mini-cart .mini_cart_item .remove {
  display: block !important;
  font-size: 16px !important;
  font-family: 'montserrat-regular' !important;
  font-weight: normal !important;
  text-decoration: underline !important;
  width: auto !important;
  color: #111111 !important;
  text-align: left;
  margin-top: 15px;
}

.woocommerce-mini-cart .mini_cart_item .remove:hover {
  display: block !important;
  font-size: 16px !important;
  font-family: 'montserrat-regular' !important;
  font-weight: normal !important;
  text-decoration: underline !important;
  width: auto !important;
  color: #111111 !important;
  background-color: #0000;
}

.woocommerce-mini-cart .woocommerce-Price-amount {
  font-size: 20px;
  font-family: 'josefin-semibold';
  margin-top: 15px;
  display: block;
}

.woocommerce-mini-cart .quantity {
  margin-top: 0;
  padding: 0;
  border: none;
}

.woocommerce-mini-cart .quantity .quantity-label {
  display: none !important;
}

.woocommerce-mini-cart-item {
  border-top: 1px solid #111111;
  padding-top: 20px !important;
}

.mini {
  position: absolute;
  right: 0;
  top: 32px;
  background-color: #fff;
  z-index: 999;
  padding: 20px !important;
  display: none;
  transition: 0.2s;
  height: 400px;
  overflow-y: scroll;
  box-shadow: 0px 0px 4px 0px;
  width: 550px;
}

.mini .item-img {
  padding-left: 0;
}

.mini::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.mini::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.mini::-webkit-scrollbar-thumb {
  background: #111111;
}

/* Handle on hover */
.mini::-webkit-scrollbar-thumb:hover {
  background: #111111;
}

.cart-ic:hover .mini {
  display: block !important;
}

.woocommerce-mini-cart__total {
  margin-top: 40px;
  border-top: 1px solid #111111;
  padding: 20px 0;
}

.woocommerce-mini-cart__buttons .button {
  width: 100%;
  display: block !important;
  background-color: #111111 !important;
  font-family: 'josefin-semibold';
  color: #fff !important;
  text-transform: uppercase;
  text-align: center !important;
  margin-top: 10px !important;
  padding: 11px 0;
}

.mini-cart-title {
  padding: 6px 0;
}

.cart-icon {
  margin-right: 0 !important;
}

.mini .variation dt {
  font-size: 16px !important;
  font-family: 'montserrat-regular' !important;
  font-weight: normal !important;
}

.mini .variation {
  padding-left: 0 !important;
  border: none !important;
  margin-top: 20px !important;
}

.mini .variation dd {
  margin-bottom: 0 !important;
}

.woocommerce-mini-cart .prod-item {
  padding-bottom: 20px;
}

.woocommerce-mini-cart__empty-message {
  text-align: center;
}

.wb-row {
  display: flex;
  flex-wrap: wrap;
}

.wb-row .item-col {
  padding: 1em;
  width: 25%;
}

.wb-row .wb-brand {
  display: block;
  font-family: 'montserrat-semibold';
  padding-bottom: 4px;
}

.brands-megamenu {
  width: 100%;
  position: absolute;
  padding: 15px 0;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: .2s;
  top: 166px;
  border: 1px solid #111111;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  z-index: 999;
}

.hero .partners img {
  object-fit: contain;
}

.brands-megamenu.opened {
  opacity: 1;
  visibility: visible;
  display: block;
}

.wb-row .wb-attr {
  display: block;
  padding-bottom: 6px;
  font-size: 13px;
}

.brands-megamenu .close {
  margin-top: 15px;
}

.has-sub {
  cursor: pointer;
}

.has-sub a {}

.tax-brand ul.products {
  margin-top: 0 !important;
}

.woocommerce table.my_account_orders .button {
  background-color: #fff;
  color: #111111;
  text-align: right;
}

/* User content */
.user-content {
  margin: 60px 0 60px 0;
}

.user-content p {
  margin-bottom: 25px;
}

.user-content h1 {
  font-family: 'josefin-regular';
  font-size: 40px;
}

.user-content h2 {
  font-family: 'josefin-regular';
  font-size: 30px;
}

.user-content h3 {
  font-family: 'josefin-regular';
  font-size: 20px;
}

.user-content h3,
.user-content h1,
.user-content h2 {
  margin-top: 30px;
}

.user-content ul {
  margin-top: 25px;
  line-height: 25px;
  margin-bottom: 25px;
}

.user-content li {
  font-size: 16px;
  padding-bottom: 5px;
}

.user-content .user-title {
  margin-bottom: 30px;
}

.wb-row a {
  width: fit-content;
}

header .phone-number {
  max-height: 70px;
}

header .icons {
  max-height: 70px;
}

/* Thank You Page */
.woocommerce-order-overview {
  padding-left: 0;
}

.woocommerce-order-overview .email {
  margin-top: 0;
}

.woocommerce-order-overview li {
  font-family: 'montserrat-regular';
}

.woocommerce-order-overview li strong {
  padding-top: 10px;
}

.woocommerce-table--order-details {
  font-family: 'montserrat-regular';
}

.woocommerce-table--order-details tr td,
.woocommerce-table--order-details tr th {
  padding-left: 0 !important;
}

.woocommerce-order address {
  font-family: 'montserrat-regular';
  line-height: 30px !important;
}

.woocommerce-order p {
  font-family: 'montserrat-regular';
  line-height: 30px;
}

.woocommerce-thankyou-order-received {
  font-family: 'josefin-regular';
  font-size: 40px;
  margin: 100px 0;
}

.woocommerce-order .woocommerce-order-details {
  margin-top: 50px;
}

.shop-again {
  margin: 30px auto;
}

.woocommerce-message::before {
  content: "\e015";
  color: #000000;
}

.woocommerce-message {
  font-family: 'montserrat-regular';
}

.woocommerce-message a {
  max-width: 160px;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #111111 !important;
  border-radius: 5px;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'josefin-semibold';
  padding: 17px 37px;
  margin: 0 auto;
  margin-top: 71px;
  transition: 0.2s;
}

.main-menu>li .sub-menu>li a span.menu-image {
  position: relative;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
}

.main-menu>li .sub-menu>li a {
  display: inline-block;
  color: #111111;
  font-size: 16px;
  font-family: 'josefin-regular';
}

.main-menu>li .sub-menu>li:hover a,
.main-menu>li .sub-menu>li:focus a {
  color: #111111;
}

.main-menu>li ul.sub-menu {
  padding: 35px 0;
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  left: 0;
  right: 0;
  justify-content: center;
  top: 68px;
  border-top: 1px solid #111111;
  z-index: 99;
}

.main-menu>li .sub-menu>li a span.menu-image {
  width: 152px;
  height: 152px;
  display: block;
  margin-bottom: 15px;
}

.sub-menu .menu-item {
  text-align: center;
}

.sub-menu {
  transition: 0.2s;
}

.menu-item-has-children {
  background-image: url(img/arrow_down.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.menu-item-has-children:hover {
  background-image: url(img/arrow_up.svg);
}

.disable-slide .owl-stage-outer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mobile-icons {
  display: none;
  position: fixed;
  background-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  padding: 15px 9px;
  z-index: 999;
}

.mobile-icons .cart {
  position: relative;
}

.mobile-icons .cart .cart-contents {
  right: 16px;
  left: unset;
  top: -7px;
}

.mobile-icons div {
  text-align: center;
  width: 23%;
}

.mob-title {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  font-family: 'montserrat-regular';
}

.mobile-icons div img {
  width: 30px;
}

.search-box-mobile {
  bottom: 0px;
  position: fixed;
  background-color: #fff;
  width: 100%;
  padding: 14px 15px;
  top: unset !important;
  display: none;
}

.search-box-mobile .search-bar {
  width: 80%;
}

.search-box-mobile .close {
  display: block;
  margin: 15px auto;
  max-width: 50px;
  float: none;
}

.search .hero {
  margin-bottom: 50px;
}

.search-red-more {
  opacity: 1 !important;
  padding: 10px;
  display: block;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.search-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.see-all-brands-prod {
  background-color: #111111;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 34px;
  margin: 0 auto;
  max-width: 300px;
  width: 300px;
  display: block;
  text-align: center;
  transition: 0.2s;
  font-family: 'josefin-semibold' !important;
}

.see-all-brands-prod:hover {
  background-color: #F0E9DE !important;
  color: #111111;
}

.tax-product_cat ul.products li.product,
.woocommerce-page ul.products li.product {
  width: 30.2%;
}

.hero-main-slider .item {
  width: 100%;
}

.hero-main-slider.owl-carousel .owl-stage {
  display: flex;
}

.hero-main-slider.owl-carousel .owl-stage .item {
  height: 100%;
}

.hero-main-slider.owl-carousel .owl-stage .item img {
  height: 100%;
  object-fit: cover;
  max-height: 32vw;
}

.hero-main-slider.owl-carousel .owl-prev {
  width: 45px;
  margin-left: 0;
  background-color: #ffffff7a;
  padding: 15px;
  top: 40%;
}

.hero-main-slider.owl-carousel .owl-next {
  width: 45px;
  right: 0;
  padding: 15px;
  background-color: #ffffff7a;
  top: 40%;
}

.tax-product_cat .main-menu>li ul.sub-menu {
  z-index: 99;
}

.brands_menu {
  padding: 20px 0;
  width: 100%;
  position: absolute;
  padding: 57px 0;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: .2s;
  top: 170px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  z-index: 999;
}

.woocommerce a.button {
  padding: 13px 0 10px 0;
}

.woocommerce ul.products {
  display: flex;
  flex-wrap: wrap;
}

.woocommerce ul.products li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.err_title {
  font-size: 250px;
  font-family: 'josefin-regular';
}

.err_subtitle {
  font-size: 60px;
  font-family: 'josefin-semibold';
}

.err_desc {
  font-size: 40px;
  font-family: 'montserrat-regular';
  margin-top: 41px;
}

.err_back {
  font-family: 'josefin-semibold';
  color: #fff;
  font-size: 16px;
  background-color: #111111;
  padding: 17px 145px;
  display: block;
  max-width: 460px;
  margin: 55px auto;
  transition: 0.2s;
}

.err_back:hover {
  color: #111111;
  background-color: #F0EADE;
}

.wpgs--without-images {
  width: 447px !important;
  height: 352px !important;
}

.img-item {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.imgtr-left {
  height: 100%;
}

.primary

/* .row {
	margin-left: -12px;
	margin-right: -12px;
}
.container,
[class*="col-"] {
	padding-left: 12px;
	padding-right: 12px;
} */
/*MAIN CSS*/
.header-items {
  justify-content: space-between;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.half-width {
  width: 50%;
}

.back-to-main {
  display: none;
}

/* Large desktops and laptops */
@media (min-width: 1230px) {}

@media (min-width: 1200px) {}

@media (max-width: 1199px) {}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 992px) {
  .show-categories .owl-nav {
    display: none !important;
  }

  .main-menu>.menu-item-has-children:hover .sub-menu {
    display: flex;
  }
}

@media (max-width: 832px) {
  ul.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  ul.products.columns-3 li.product {
    width: 46% !important;
  }
}

@media (max-width: 991px) {
  .mobile-menu .menu-item.has-sub a {
    pointer-events: none;
  }

  .img-item {
    background-position: center center;
  }

  header {
    position: unset;
  }

  .mobile-nav .menu-item {
    padding-left: 0 !important;
  }

  .mobile-nav .menu-item a {
    padding: 0 !important;
  }

  .brands-megamenu {
    transform: translateX(110%);
    opacity: 1;
    display: block;
    height: 100%;
    box-shadow: none;
    top: unset;
    border: none;
  }

  .opened {
    transform: translateX(0);
  }

  .mobile-menu-slide {
    transform: translateX(-100%);
  }

  .back-to-main {
    cursor: pointer;
    display: block;
    border: 1px solid #111111;
    padding: 10px 20px;
    margin: 20px auto;
    text-align: center;
    width: fit-content;
  }

  #burger-icon {
    display: block;
  }

  .phone-icon {
    display: none;
  }

  .phone-link {
    display: none;
  }

  .navigation {
    display: none;
  }

  .search-mobile {
    display: block;
    border: none;
    margin-left: 15px;
  }

  .image-text-right .flex-container {
    flex-direction: column;
  }

  .image-text-right .imgtr-left,
  .image-text-right .imgtr-right {
    max-width: 100%;
  }

  .image-text-right .imgtr-right {
    text-align: center;
  }

  .text-small-image .flex-container {
    flex-direction: column;
  }

  .text-small-image .imgtr-left {
    max-width: 100%;
  }

  .text-small-image .imgtr-right {
    max-width: 100%;
    text-align: center;
    padding-top: 20px;
  }

  .image-text-left .flex-container {
    flex-direction: column-reverse;
  }

  .image-text-left .imgtr-left {
    max-width: 100%;
  }

  .image-text-left .imgtr-right {
    max-width: 100%;
  }

  .image-text-left .imgtr-right {
    padding: 0;
  }

  .image-text-left .imgtr-left {
    padding: 25px 28px 25px 28px;
    text-align: center;
  }

  .text-small-image .tablet-title {
    display: block;
    padding-bottom: 25px;
  }

  .product-info {
    padding: 60px 0;
  }

  .text-small-image .imgtr-right h3 {
    display: none;
  }

  footer .footer-social {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: start !important;
  }

  .text-info-block img {
    width: 100%;
    height: auto;
  }

  .services .services-container {
    flex-direction: column;
  }

  .services .services-title-block {
    max-width: 100%;
  }

  .services .services-list {
    max-width: 100%;
  }

  .services .service_item {
    max-width: 49%;
    margin-top: 15px;
  }

  .services .services-title-block {
    text-align: center;
    margin-bottom: 25px;
  }

  .search-box.for-open {
    top: 100%;
  }

  .actions .button {
    width: 22% !important;
  }

  .news-events .ne-post-item img {
    width: 100%;
    height: auto;
  }

  .search-box-mobile input {
    padding: 0 !important;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  .pr-0 {
    padding-right: 15px !important;
  }

  .pl-0 {
    padding-left: 15px !important;
  }

  .half-width {
    width: 100%;
  }

  .stages .stages-line {
    display: none;
  }

  .shop-by .shop-by-title {
    text-align: center;
  }

  .shop-by .shop-by-desc {
    text-align: center;
  }

  .shop-by .shop-by-button {
    margin: 0 auto;
    margin: 20px auto;
  }

  .header-top .flex-container {
    flex-wrap: nowrap;
  }

  .header-top .mobile-header {
    flex-flow: row;
  }

  .services .service_item {
    max-width: 100%;
  }

  .services .stages-line {
    display: none;
  }

  footer .footer-top div {
    text-align: left;
    margin-top: 25px;
  }

  #menu-footer-bottom {
    justify-content: center !important;
    padding-left: 0;
  }

  #menu-footer-bottom li {
    margin-right: 11px;
  }

  footer .copyright {
    text-align: center !important;
    margin-bottom: 10px;
  }

  .work-hours-block .work-day {
    width: 50%;
  }

  .work-hours-block .work-hours {
    width: 50%;
    text-align: right;
  }

  .contact-info-main h3 {
    text-align: center;
    margin-top: 25px;
  }

  .address,
  .phone,
  .email {
    justify-content: center !important;
  }

  .address p,
  .phone p,
  .email p {
    text-align: center !important;
    margin-top: 15px;
  }

  .logo-carousel .owl-prev {
    margin-left: -5px;
  }

  .logo-carousel .owl-next {
    margin-right: 15px;
  }

  .page-id-34 .faq__content .flex-container .acc-r-item {
    width: 45%;
  }

  .page-id-34 .b-faq {
    width: 100%;
  }

  .page-id-34 .faq__content img {
    width: 100%;
  }
}

/* Landscape phones and smaller */
@media (max-width: 544px) {
  .tax-brand .hero>img {
    max-height: 61vw;
    object-fit: cover;
    height: 47vw;
  }

  input[type=checkbox]:checked:after {
    width: 40px;
    height: 40px;
    left: 45%;
    top: 60px;
  }

  .footer-bottom .copyright {
    width: 100%;
  }

  .last-menu-footer {
    margin: 0 auto;
  }

  .footer-bottom {
    padding-bottom: 100px;
  }

  .woocommerce-account .woocommerce-order-details td.product-name {
    display: block;
    width: 200px;
  }

  .woocommerce table.my_account_orders .button {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .tax-product_cat ul.products li.product,
  .woocommerce-page ul.products li.product {
    width: 45%;
  }

  .cart-title {
    margin-bottom: 0;
  }

  #aws-search-result-2 {
    display: none !important;
  }

  .page-template-default .hero>img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .tinv-wishlist .woocommerce-error::before {
    display: none;
  }

  .tinv-wishlist .woocommerce-error {
    padding: 5px;
  }

  .image-text-right .imgtr-left .img-item {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .image-text-right .imgtr-right {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .image-text-left .imgtr-left {
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  .shop-by .add_to_cart_button {
    opacity: 1;
  }

  .cta {
    background-position-x: 73% !important;
  }

  .cta-mobile-info {
    display: block;
  }

  .cta-desktop-info {
    visibility: hidden;
  }

  .home .image-text-right .imgtr-left {
    height: 300px;
  }

  .shop-by .shop-by-button {
    display: none;
  }

  .shop-by .mobile-shop-by-button {
    display: block;
    margin: 20px auto;
  }

  .shop-by .show-categories {
    margin-top: 22px;
  }

  .related-block {
    margin-top: 40px;
  }

  .contact-form .frm_button_submit {
    width: 100%;
  }

  .tinv-wishlist .social-buttons {
    position: unset;
  }

  .tinvwl-to-right {
    display: block;
  }

  .tax-brand .child-of-parent-brand.not-slide .item {
    padding: 5px;
  }

  .text-small-image .tablet-title {
    padding-bottom: 0;
  }

  main > section {
    margin: 50px 0;
  }

  .woocommerce table.shop_table td {
    padding: 0;
  }

  .woocommerce table.shop_table_responsive tr:nth-child(2n) td,
  .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
    background-color: #fff !important;
  }

  .woocommerce-page table.shop_table_responsive tr .product-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .woocommerce-page table.shop_table_responsive tr .product-quantity .quantity {
    display: flex;
    justify-content: end !important;
  }

  .brands-megamenu {
    transform: translateX(110%);
    opacity: 1;
    display: none;
    height: 100%;
    box-shadow: none;
    top: unset;
    border: none;
  }

  .footer-top {
    flex-direction: column;
    padding-left: 15px;
  }

  .pr-0 {
    padding-right: 15px !important;
  }

  .pl-0 {
    padding-left: 15px !important;
  }

  .brands-container .brands-block {
    margin-top: 50px;
  }

  .hero-main-slider.owl-carousel .owl-prev {
    top: 40%;
  }

  .hero-main-slider.owl-carousel .owl-next {
    top: 40%;
  }

  .partners .owl-next {
    right: -30px;
  }

  .partners .owl-prev {
    left: -5px;
  }

  .opened {
    transform: translateX(0);
  }

  .mobile-menu-slide {
    transform: translateX(-100%);
  }

  .back-to-main {
    cursor: pointer;
    display: block;
    border: 1px solid #111111;
    padding: 10px 20px;
    margin: 20px auto;
    text-align: center;
    width: fit-content;
  }

  .wb-row .wb-brand {
    display: inline-block;
    width: 100%;
  }

  .wb-row .wb-attr {
    display: inline-block;
    width: 100%;
  }

  .wb-row .item-col {
    text-align: center;
    width: 50%;
  }

  .mobile-nav .menu-item {
    padding-left: 0 !important;
  }

  .mobile-nav .menu-item a {
    padding: 0 !important;
  }

  header {
    position: unset;
  }

  .woocommerce-message {
    display: flex;
    flex-direction: column;
  }

  .woocommerce-message .button {
    margin-bottom: 15px !important;
  }

  .summary .amount bdi {
    font-size: 25px;
  }

  .header-top .icons>a {
    margin-right: 8px;
  }

  .search-icon {
    padding-left: 3px;
  }

  .logo-carousel .owl-next {
    margin-right: 20px;
  }

  .logo-carousel .owl-prev {
    margin-left: -5px;
  }

  .berocket_single_filter_widget {
    padding: 0 12px;
  }

  .pr-filter-button {
    display: block;
  }

  .pr-filter {
    display: none;
  }

  .woocommerce-result-count {
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }

  .woocommerce-ordering {
    width: 100%;
  }

  .woocommerce-ordering select {
    width: 100%;
    border: 1px solid #111111 !important;
    padding: 12px 3px;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(img/arrow_down.svg);
    background-repeat: no-repeat;
    background-position: center right 12px;
  }

  .mobile-icons {
    display: flex;
  }

  header .icons {
    display: none;
  }

  header .search-box {
    display: none !important;
  }

  header .search-icon-box {
    display: none;
  }

  /*footer {
		margin-bottom: 100px;
	}*/
  .contact-form .description {
    margin-bottom: 15px;
  }

  .single-product .entry-summary {
    padding: 15px 25px;
  }

  .menu-image span {
    display: none;
  }

  .page-id-34 .faq__content .flex-container {
    flex-direction: column;
  }

  .page-id-34 .faq__content .flex-container .acc-r-item {
    width: 100%;
  }

  .page-id-34 .b-faq {
    width: 100%;
  }

  .search-box-mobile {
    display: block;
  }

  .mobile-icons .search-icon {
    margin-left: 0;
  }
}

@media (max-width: 480px) {}
